---
import Layout from "../../layouts/Layout.astro";
import type { Product } from "../../libs/types";

export async function getStaticPaths() {
  const response = await fetch(
    "http://localhost:3001/provider/reviewed-products"
  );
  const products = await response.json();
  return products.map((product: Product) => {
    return {
      params: { slug: product.slug },
      props: { product },
    };
  });
}

const { slug } = Astro.params;
const { product }: { product: Product } = Astro.props;
const { name, genre, type, meta, links, image, tags } = product;
---

<Layout title={`${name} - product details `}>
  <main>
    <h2>
      {meta?.device && meta.device}
    </h2>
    <h1>{name}</h1>

    <img src={image} alt={name} />

    <h3>{genre}</h3>
  </main>
</Layout>
