---
import Layout from "../../layouts/Layout.astro";
import type { Review } from "../../libs/types";
import { parse } from "marked";
import { SEO } from "astro-seo";
import { csv } from "../../libs/csv";

export async function getStaticPaths() {
  const response = await fetch("http://localhost:3001/provider/reviews");
  const reviews = await response.json();
  return reviews.map((review: Review) => {
    return {
      params: { slug: review.slug },
      props: { review },
    };
  });
}

const { review }: { review: Review } = Astro.props;
const renderedContent = parse(review.content);
const pros = csv(review.pros);
const cons = csv(review.cons);
---

<Layout title={`${review.product.name} - ${review.title}`}>
  <Fragment slot="head"></Fragment>
  <SEO
    slot="seo"
    title={`${review.product.name} - ${review.title}`}
    description={`Review: ${review.product.name} - ${review.title} - ${review.subtitle} - Yokupoku - Reviews for people with short attention spans. tags: ${review.tags}`}
    openGraph={{
      basic: {
        title: `Yokupoku - ${review.product.name} - ${review.title} - review`,
        type: "article",
        image: `${review.image}`,
        url: `/reviews/${review.slug}`,
      },
      optional: {
        description: `Review of ${review.product.name} - ${review.title} - ${review.subtitle} - Yokupoku - Reviews for people with short attention spans. tags: ${review.tags}`,
      },
    }}
    twitter={{
      image: `${review.image}`,
    }}
    extend={{
      link: [{ rel: "icon", href: "/favicon.ico" }],
      meta: [
        {
          name: "twitter:image",
          content: `${review.image}`,
        },
        {
          name: "twitter:title",
          content: `Yokupoku - ${review.product.name} - ${review.title} - review`,
        },
        {
          name: "twitter:description",
          content: `Review of ${review.product.name} - ${review.title} - ${review.subtitle} - Yokupoku - Reviews for people with short attention spans. tags: ${review.tags}`,
        },
      ],
    }}
  />
  <h1>{review.product.name}</h1>
  <h2>
    {review.title}
  </h2>
  <h3>
    {review.subtitle}
  </h3>
  <div class="img">
    <img src={review.image} alt={`${review.product.name} Review Image`} />
  </div>
  <article set:html={renderedContent} />
  <div class="proscons">
    <div class="pros">
      <h1>Pros 😍</h1>
      <ul>
        {pros.map((p) => <li>{p}</li>)}
      </ul>
    </div>
    <div class="cons">
      <h1>Pros 🤮</h1>
      <ul>
        {cons.map((c) => <li>{c}</li>)}
      </ul>
    </div>
  </div>
  <div class="scores"></div>
  <div class="tags"></div>
</Layout>
<style>
  h1 {
    font-size: 2rem;
    text-align: center;
    color: rgb(var(--accent-light));
    margin: 0;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 1rem 0;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: rgb(var(--accent-light));
  }

  div.img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  div.img > img {
    max-width: 50vw;
  }
  @media (max-width: 768px) {
    div.img > img {
      max-width: 80vw;
    }
  }

  article {
    padding: 1rem;
    line-height: 1.6rem;
    font-size: 1.1rem;
    /* text-align: justify; */
    margin: 1rem;
  }

  article p {
    all: unset;
  }

  .proscons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem 2rem;
  }

  .proscons > div {
    border-radius: var(--bradius);
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pros {
    color: var(--accent-green);
    background-color: var(--accent-green-light);
  }

  .pros > h1 {
    color: var(--accent-green);
  }

  .cons {
    color: var(--accent-red);
    background-color: var(--accent-red-light);
  }

  .cons > h1 {
    color: var(--accent-red);
  }

  .proscons h1 {
    font-size: 1.4rem;
  }
  .proscons li {
    font-size: 1.2rem;
  }
</style>
